# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

personal
elpa
secrets

.last-package-update-day
irony
projectile-bookmarks.eld
projectile.cache
recentf
transient